@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Bienvenido"]</h1>
    <p>@Localizer["Aprende más"]</p>
</div>

<div>
    <h3>@ViewBag.saludo, Fabián </h3>
</div>

<button onclick="mostrarError()">
    Mostrar mensaje de error
</button>

@section Scripts
{
    <script src="~/js/utilidades.js"></script>
}
